a {
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-left: 15px;
    margin-top: 5px;
}

#logo {
    margin-right: 10px;
}

button {
    border: none !important;
}